<!DOCTYPE html>

<html lang="en-US">
<head>
        <meta content="text/html; charset=utf-8" http-equiv="content-type"> 
		
        <meta charset="UTF-8">
		
        <meta content="width=device-width, initial-scale=1" name="viewport">

        <title>Edge | Image &amp; Style Consultants</title>

        <link href="{{assets}}/flexslider.css" media="screen" rel="stylesheet" type="text/css">
		
        <link href='{{assets}}/frmdisplay.css' id='frm-forms-css' media='all' rel='stylesheet' type='text/css'>
		
        <link href='{{assets}}/style.css' id='edge-style-css' media='all' rel='stylesheet' type='text/css'>
      
		<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js' type='text/javascript'></script>

		
		<base href="" target="_self">


</head>

<body class="page page-id-123 page-template-default two-column right-sidebar">
        <div class="wrapper">
		
<header class="cf" role="banner">

                        <div class="inner">
                                <h1><a href="index.html">Edge</a><br>
                                <span>Image &amp; Style Consultants</span>
                                </h1>


                                <nav>
                                        <a href="#" id="responsive-nav-button">Menu &#9776;</a>

                                        <div id="responsive-nav">
                                                <div class="menu-main-container">
                                                        <ul class="menu" id="menu-main-1">


                                                                <li class="{{#is basename "index"}}current-menu-item current_page_item{{/is}} menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-118">
                                                                        <a href="/">Home</a>
                                                                </li>


                                                                <li class="{{#is basename "about"}}current-menu-item current_page_item{{/is}} menu-item menu-item-type-post_type menu-item-object-page menu-item-201">
                                                                        <a href="about.html">About</a>
                                                                </li>


                                                                <li class="{{#is basename "pricing"}}current-menu-item current_page_item{{/is}} menu-item menu-item-type-post_type menu-item-object-page menu-item-131">
                                                                        <a href="pricing.html">Products &#038; Pricing</a>
                                                                </li>


                                                                <li class="{{#is basename "moving-up-in-the-world"}}current-menu-item current_page_item{{/is}} menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-132">
                                                                        <a href="moving-up-in-the-world.html">Packages</a>

                                                                        <ul class="sub-menu">
                                                                                <li class="{{#is basename "moving-up-in-the-world"}}current-menu-item current_page_item{{/is}} menu-item menu-item-type-post_type menu-item-object-page menu-item-197">
                                                                                        <a href="moving-up-in-the-world.html">Moving up in the world</a>
                                                                                </li>


                                                                                <li class="{{#is basename "re-entering-the-workplace"}}current-menu-item current_page_item{{/is}} menu-item menu-item-type-post_type menu-item-object-page menu-item-196">
                                                                                        <a href="re-entering-the-workplace.html">Re-entering the workplace</a>
                                                                                </li>


                                                                                <li class="{{#is basename "ready-for-a-change"}}current-menu-item current_page_item{{/is}} menu-item menu-item-type-post_type menu-item-object-page menu-item-195">
                                                                                        <a href="ready-for-a-change.html">Ready For a Change</a>
                                                                                </li>
                                                                        </ul>
                                                                </li>


                                                                <li class="{{#is basename "book-now"}}current-menu-item current_page_item{{/is}} menu-item menu-item-type-post_type menu-item-object-page menu-item-203">
                                                                        <a href="book-now.html">Book Now</a>
                                                                </li>


                                                                <li class="{{#is basename "testimonials"}}current-menu-item current_page_item{{/is}} menu-item menu-item-type-post_type menu-item-object-page menu-item-236">
                                                                        <a href="testimonials.html">Testimonials</a>
                                                                </li>
                                                        </ul>
                                                </div>
                                        </div>


                                        <div id="main-nav">
                                                <div class="menu-main-container">
                                                        <ul class="menu" id="menu-main-1">


                                                                <li class="{{#is basename "index"}}current-menu-item current_page_item{{/is}} menu-item menu-item-type-custom menu-item-object-custom menu-item-home menu-item-118">
                                                                        <a href="index.html">Home</a>
                                                                </li>


                                                                <li class="{{#is basename "about"}}current-menu-item current_page_item{{/is}} menu-item menu-item-type-post_type menu-item-object-page menu-item-201">
                                                                        <a href="about.html">About</a>
                                                                </li>


                                                                <li class="{{#is basename "pricing"}}current-menu-item current_page_item{{/is}} menu-item menu-item-type-post_type menu-item-object-page menu-item-131">
                                                                        <a href="pricing.html">Products &#038; Pricing</a>
                                                                </li>


                                                                <li class="{{#is basename "moving-up-in-the-world"}}current-menu-item current_page_item{{/is}} menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-132">
                                                                        <a href="moving-up-in-the-world.html">Packages</a>

                                                                        <ul class="sub-menu">
                                                                                <li class="{{#is basename "moving-up-in-the-world"}}current-menu-item current_page_item{{/is}} menu-item menu-item-type-post_type menu-item-object-page menu-item-197">
                                                                                        <a href="moving-up-in-the-world.html">Moving up in the world</a>
                                                                                </li>


                                                                                <li class="{{#is basename "re-entering-the-workplace"}}current-menu-item current_page_item{{/is}} menu-item menu-item-type-post_type menu-item-object-page menu-item-196">
                                                                                        <a href="re-entering-the-workplace.html">Re-entering the workplace</a>
                                                                                </li>


                                                                                <li class="{{#is basename "ready-for-a-change"}}current-menu-item current_page_item{{/is}} menu-item menu-item-type-post_type menu-item-object-page menu-item-195">
                                                                                        <a href="ready-for-a-change.html">Ready For a Change</a>
                                                                                </li>
                                                                        </ul>
                                                                </li>


                                                                <li class="{{#is basename "book-now"}}current-menu-item current_page_item{{/is}} menu-item menu-item-type-post_type menu-item-object-page menu-item-203">
                                                                        <a href="book-now.html">Book Now</a>
                                                                </li>


                                                                <li class="{{#is basename "testimonials"}}current-menu-item current_page_item{{/is}} menu-item menu-item-type-post_type menu-item-object-page menu-item-236">
                                                                        <a href="testimonials.html">Testimonials</a>
                                                                </li>
																
                                                        </ul>
                                                </div>
                                        </div>
                                </nav>
                        </div>
                </header>
