---
title: "About Alison Walker"
posted: 2014-07-11
---

 
<div id="primary" class="content-area" style="background-color:#FFFFFF">
 
<main id="main" class="site-main" role="main">

			                
<article id="post-43" class="post-43 page type-page status-publish hentry">
  <div class="wrapper">
    <header class="entry-header cf" style="background: url({{assets}}/Also21.jpg) top left; background-size: cover;">
        <h2 style="color: ;">About<span style="color: #4b7dc7;">Alison Walker</span></h2>
    </header>



  </div>
      <div class="entry-content" style="float: left; max-width: 100%">
       <div class="wrapper_1000">
        <p style="text-align: left;">Alison trained at the Italia Conti Academy of Theatre Arts in London and has put to use many aspects of this very extensive training within all industries that she has worked in. She has danced and acted since she was three years old and has the grace and deportment to show for it. Her career on the stage has taken her all over Europe including the famous Moulin Rouge! She is a fully qualified I.S.T.D. dance instructor and has had the pleasure of teaching and choreographing many times during her years as a performer.</p>
<p>She has an innate ability in helping others to be more, and does so in a calm, confident, and credible way.</p>
<p>After working within the corporate world Alison knew she had found a new area where she could make a difference to the working women of Sydney.</p>
<p>A new mission began, one that took her through new training in the Style and Image Industry with the wonderful Evelyn Lundstrom from First Impressions. She is now qualified and a member of the AICI here in Australia.</p>
<p>Alison is an authentic lady with a special style of her own. She believes absolutely that with a few lessons all women can be more, and would love to help anyone who is interested in allowing her to do so.</p>
<p>&nbsp;</p>
       </div>
  </div>
   </article>

</main>

</div>
	
<div class="wrapper">




</div>

</div>
</div>

<section id="free-consultation" style="float: left; width: 100%; padding-top: 50px" class="cf">
    <div class="inner">
                <div class="wrapper_1000">
                    <div class="consultation-text">
                <h2>Get a complimentary 45 min consultation</h2>
                <p>Call Alison on 0488 494 345 to organise a complimentary 45 minute coffee catch up</p>
            </div>
            <a href="book-now.html" class="button">Start Today</a>
                </div>
    </div>
</section>

