---
title: "Reentering the Workplace"
posted: 2014-07-11
---
 
<style type="text/css">
 @media screen and (max-width: 480px) {
.entry-header {
	background:url({{assets}}/reenter1.jpg)!important
}
}

@media screen and (min-width:481px) and (max-width: 720px) {

}

@media screen and (min-width:721px) and (max-width: 960px) {

}
}
</style>
	<div id="primary" class="content-area" style="background-color:#FFFFFF">
		
		
		<main id="main" class="site-main" role="main">

			                
<article id="post-191" class="post-191 page type-page status-publish hentry">
  <div class="wrapper">
    <header class="entry-header cf" style="background: url({{assets}}/reenter1.jpg) top left; background-size: cover;">
        <h2 style="color: #000000;">Re-entering<span style="color: #4b7dc7;">the workplace</span></h2>
    </header>


  </div>
            <div class="after-banner" style="padding-left: 0px">
        <div class="wrapper_980">
        It takes confidence to walk back into the workplace without missing a beat, and that confidence comes from feeling great because you know you look great.
<br/>
<br/>
Call Alison on <b>0488 494 345</b> and organise a complimentary 45 minute coffee catch up.
<br/>
        </div>
        </div>  <div class="entry-content" style="float: left; max-width: 100%">
       <div class="wrapper_1000">
        <p>      
		
<style type="text/css">
#pricing-table {
	text-align:center;
	width:100%;
	margin-top:35px;
}

#pricing-table .plan {
	border-radius:8px;
	box-shadow:0 0 8px #e7e1dc;
	font:12px 'Lucida Sans','trebuchet MS',Arial,Helvetica;
	text-shadow:0 1px rgba(255,255,255,.8);
	background:#fff;
	border:1px solid #ddd;
	color:#333;
	width:180px;
	float:left;
	position:relative;
}

#pricing-table #most-popular {
	z-index:2;
	top:-13px;
	border-width:3px;
	padding:30px 20px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	-moz-box-shadow:20px 0 10px -10px rgba(0,0,0,.15),-20px 0 10px -10px rgba(0,0,0,.15);
	-webkit-box-shadow:20px 0 10px -10px rgba(0,0,0,.15),-20px 0 10px -10px rgba(0,0,0,.15);
	box-shadow:20px 0 10px -10px rgba(0,0,0,.15),-20px 0 10px -10px rgba(0,0,0,.15);
}

#pricing-table .plan:nth-child(1) {
}

#pricing-table .plan:nth-child(3) {
	-moz-border-radius:0 5px 5px 0;
	-webkit-border-radius:0 5px 5px 0;
	border-radius:0 5px 5px 0;
}
#pricing-table h3 {
	font-size:24px;
	font-weight:400;
}

#pricing-table .plan:nth-child(1) h3 {
	-moz-border-radius:5px 0 0;
	-webkit-border-radius:5px 0 0 0;
	border-radius:5px 0 0 0;
}

#pricing-table .plan:nth-child(3) h3 {
	-moz-border-radius:0 5px 0 0;
	-webkit-border-radius:0 5px 0 0;
	border-radius:0 5px 0 0;
}

#pricing-table h3 span {
	display:block;
	font:bold 25px/100px Georgia,Serif;
	color:#777;
	background:#fff;
	border:5px solid #fff;
	height:100px;
	width:100px;
	margin:10px auto -65px;
	-moz-border-radius:100px;
	-webkit-border-radius:100px;
	border-radius:100px;
	-moz-box-shadow:0 5px 20px #ddd inset,0 3px 0 #999 inset;
	-webkit-box-shadow:0 5px 20px #ddd inset,0 3px 0 #999 inset;
	box-shadow:0 5px 20px #ddd inset,0 3px 0 #999 inset;
}
#pricing-table ul {
	padding:0;
	list-style:none;
	min-height:300px;
}

#pricing-table li {
	color:#4b7dc7;
	margin-top:20px;
	min-height:20px;
}

#pricing-table .signup {
	position:relative;
	color:#727272;
	text-decoration:none;
	display:inline-block;
	border:0;
}

.plan hr {
	width:90px;
}

#pricing-table .signup:hover {
}

#pricing-table .signup:active,#pricing-table .signup:focus {
	top:2px;
	-moz-box-shadow:0 0 3px rgba(0,0,0,.7) inset;
	-webkit-box-shadow:0 0 3px rgba(0,0,0,.7) inset;
	box-shadow:0 0 3px rgba(0,0,0,.7) inset;
}

.pclear:before,.pclear:after {
	content:"";
	display:table;
}

.pclear:after {
	clear:both;
}

.pclear {
	zoom:1
}

.plan_header,.plan_footer,.plan_content {
	float:left;
	width:100%;
	padding-left:10%;
	padding-right:10%;
	font-size:15px;
}

.plan_header,.plan_footer {
	background-color:#faf9f9;
}

.plan_header {
	border-radius:5px 5px 0 0;
	float:left;
	width:100%;
	padding-left:10%;
	padding-right:10%;
	min-height:170px;
	padding-top:17px;
	color:#727272;
}

#pricing-table .last {
	margin-right:0;
}

.plan_footer span,.plan_footer a {
	float:left;
	width:100%;
}

.plan_footer {
	border-radius:0 0 5px 5px;
	margin-top:20px;
	font-size:20px;
	font-family:'HelveticaNeue-Light';
}

.plan_footer span {
	color:#727272;
}

.plan_footer a {
	margin-bottom:20px;
}
</style>

<div style="clear: both;"></div>

<div id="pricing-table" class="pclear">  
<div class="plan ">        
<div class="plan_header">            
<h3>                SILVER            </h3>            <hr>            <p>                Let's get going!            </p>        </div>        <div class="plan_content">        <ul>            <li><b>Colour Consultation</b></li><li><b>Wardrobe Review</b></li><li><b>Follow up session</b></li><li><b></b></li><li><b></b></li><li><b></b></li><li><b></b></li>        </ul>        </div>        <div class="plan_footer">             <span>                    Investment<span style="color: #000000;">$740</span>            </span>            <br/>            <a class="signup" href="">10% Saving</a>        </div>    </div >      <div class="plan "  >        <div class="plan_header">            <h3>                GOLD            </h3>            <hr>            <p>                Having this information under your belt will make all the difference.            </p>        </div>        <div class="plan_content">        <ul>            <li><b>Colour Consultation</b></li><li><b>Wardrobe Review</b></li><li><b>Personal Development</b></li><li><b>A selection of Arbonne makeup worth $240 (colours decided during colour consult)</b></li><li><b>Follow up session</b></li><li><b></b></li><li><b></b></li>        </ul>        </div>        <div class="plan_footer">             <span>                    Investment<span style="color: #000000;">$1,040</span>            </span>            <br/>            <a class="signup" href="">15% Saving</a>        </div>    </div >      <div class="plan last"  >        <div class="plan_header">            <h3>                PLATINUM            </h3>            <hr>            <p>                Imagine that feeling of confidence you thought was out of reach.            </p>        </div>        <div class="plan_content">        <ul>            <li><b>Colour Consultation</b></li><li><b>Personal Style Evaluation</b></li><li><b>Personal Development</b></li><li><b>Wardrobe Review</b></li><li><b>Shopping With a consultant</b></li><li><b>A selection of Arbonne makeup worth $240 (colours decided during colour consult)</b></li><li><b>Follow up session</b></li>        </ul>        </div>        <div class="plan_footer">             <span>                    Investment<span style="color: #000000;">$1,580</span>            </span>            <br/>            <a class="signup" href="">20% Saving</a>        </div>    </div >  </div><br />
<br/></p>
<h3></h3>
<p><strong>Colour Consultation</strong><br />
We understand and teach you how to bring out the best in your natural colouring by using colour drapes to show how different colours, their shades and tones can either lift or fade your complexion.<br />
This leads to creation of your colour profile &#8211; a take-home and take-shopping guide for choosing the most complimentary clothes and accessories. We shall also be looking at your current makeup and how the correct colours will enhance your look.</p>
<p><strong>Personal Style Evaluation</strong><br />
We start with a proven questionnaire that explores different style preferences and helps you understand yours &#8211; delivered in a simple shopping guide.<br />
Then we evaluate body type, proportion and scale before applying this to suitable clothing and accessories that will fit nicely together with your personality and style preferences. you will by now already have more confidence in purchasing the pieces that get people commenting.</p>
<p><strong>Wardrobe Review</strong><br />
Sometimes the answer is right in front of you! Rather than simply discard what you have and start again, this fun session reviews what’s hiding in your wardrobe that can be saved, revamped and that which needs to be thanked and put aside. We then create some combinations that work, take a photo record and discuss your next necessary purchase. You will be left with a well organised, manageable wardrobe.</p>
<p><strong>Shopping With a Consultant</strong><br />
We start with a pre-shopping reconnaissance to source best options based on your requirements, so we do not waste any time or money. Then together we get down to the serious business of shopping for the perfect items that you can mix and match and love many times over.</p>
<p><strong>Personal Development</strong><br />
Looking great is only one part of the story. This one-on-one session reveals tips and tricks to project an image of confidence across key features such as body language, walk, posture, eye contact, facial movement and voice coaching &#8211; the all important skills that can give you a leg up in both your personal and professional life.</p>
       </div>
  </div>
   
   
   </article>
			

</main>
</div>
	
<div class="wrapper">




</div>

</div>

<section id="free-consultation" style="float: left; width: 100%; padding-top: 50px" class="cf">
    <div class="inner">
                <div class="wrapper_1000">
                    <div class="consultation-text">
                <h2>Get a complimentary 45 min consultation</h2>
                <p>Call Alison on 0488 494 345 to organise a complimentary 45 minute coffee catch up</p>
            </div>
            <a href="book-now.html" class="button">Start Today</a>
                </div>
    </div>
</section>